img {
	width:350px;
	border:2px solid blue;
}

body {
	background-color:#FAFAD2;
}

h1 {
	font-family:Arial;
}

.green {
	color:green;
	
}
.big_font {	font-size:32px;
}

#special_style{
	background-color:brown;
	border:2px yellow;
}